.canvas-area {

  position: relative;

  width: 100%;

  height: 100%;

  overflow: hidden;

  background: #233142;
}

#map-canvas {

  width: 100%;

  height: 100%;

  display: block;

  background: #233142;

  cursor: grab;
}

#map-canvas:active {
  cursor: grabbing;
}
