.canvas-area {
  background: var(--canvas-bg);
}

#map-canvas {
  width: 100%;
  height: 100%;

  display: block;

  background: var(--canvas-bg);

  cursor: grab;
}

#map-canvas:active {
  cursor: grabbing;
}
