* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* =========================
   REMOVE QUALQUER 3D
========================= */

*,
*::before,
*::after {

  transform-style: flat !important;

  perspective: none !important;

  backface-visibility: hidden;

  transform-origin: center center;
}

html,
body,
#root {

  width: 100%;

  height: 100%;

  overflow: hidden;

  background: #16202a;

  font-family: Garamond, serif;

  color: white;

  /* =========================
     FORÇA 2D
  ========================= */

  perspective: none !important;

  transform: none !important;

  rotate: 0deg !important;
}

body {

  position: fixed;

  inset: 0;
}

/* =========================
   ROOT APP
========================= */

#root {

  display: flex;

  flex-direction: column;
}

button,
input {

  outline: none;

  border: none;
}

button {

  cursor: pointer;
}
